In [55]:
import sqlite3
import pandas as pd

In [ ]:
# to get  db from csv files
bike=pd.read_csv(r"C:\Users\annaa\OneDrive\Desktop\LightHouseLabs Data Immerse\Project 2 updated\SQL\Statistical-Modelling-Project\data\citi_bike.csv")
fourSqr=pd.read_csv(r"C:\Users\annaa\OneDrive\Desktop\LightHouseLabs Data Immerse\Project 2 updated\SQL\Statistical-Modelling-Project\data\FourSqr_orig.csv")
yelp=pd.read_csv(r"C:\Users\annaa\OneDrive\Desktop\LightHouseLabs Data Immerse\Project 2 updated\SQL\Statistical-Modelling-Project\data\Yelp_orig.csv")


#to make dataframes
bike_df=pd.DataFrame(bike)
fourSqr_df=pd.DataFrame(fourSqr)
yelp_df=pd.DataFrame(yelp)

In [58]:
bike_df.head(5)

,empty_slots,free_bikes,total_slots,name,latitude,longitude,difference_in_m_from_center
0,10,30,40,7035 - MARSEILLE / UNIVERSITÉ,45.750945,4.839270,316.708599
1,1,20,21,7024 - BANCEL / CHEVREUL,45.748504,4.840505,620.360331
2,1,9,10,7008 - JEAN JAURÈS / GUILLOTIÈRE,45.752510,4.846278,925.405768
3,3,19,22,2013 - CÉLESTINS,45.759932,4.832111,967.999842
4,0,15,15,7016 - PLACE SAINT LOUIS,45.748925,4.847714,1191.854823

In [67]:
fourSqr_df.head(5)

,business_name,category_name,distance,rating,latitude,longitude,locality,region,postcode
0,Auberge du Pont de Collonges-Paul Bocuse,French Restaurant,6940,8.1,45.815712,4.847452,Collonges-au-Mont-d'Or,Auvergne-Rhône-Alpes,69660.0
1,La Demeure du Chaos,Art Museum,9366,8.2,45.837487,4.826422,Saint-Romain-au-Mont-d'Or,Auvergne-Rhône-Alpes,69270.0
2,Guy Lassausaie,Fast Food Restaurant,14243,8.0,45.872851,4.770494,Chasselay,Auvergne-Rhône-Alpes,69380.0
3,Zoo de Saint-Martin-la-Plaine,Zoo,30022,8.4,45.549991,4.583793,Saint-Martin-la-Plaine,Auvergne-Rhône-Alpes,42800.0
4,Place Bellecour,Plaza,623,9.1,45.757567,4.832622,Lyon,Auvergne-Rhône-Alpes,69002.0

In [68]:
yelp_df.head(5)

,business_name,title,distance,rating,review_count,latitude,longitude,zip_code
0,Passerelle de l'Homme de la Roche,Landmarks & Historical Buildings,1961.722459,5.0,5,45.767094,4.821881,69005
1,[CYS] 12 : Bon Anniversaire le CYS,Unofficial Yelp Events,2736.298001,5.0,5,45.777795,4.834284,69004
2,CYS #6 : l'édition qui voyage dans le temps,Yelp Events,518.682093,5.0,6,45.752682,4.831460,69002
3,RDV Yelp Officiel Atelier Méthode Douce chez P...,Yelp Events,1233.176168,5.0,7,45.764180,4.833750,69002
4,Maison Gilles Drevet,Butcher,3698.627496,5.0,7,45.769020,4.880170,69100

In [63]:
#SQL database

# create new database 
conn = sqlite3.connect("mydatabaseSql.db")


# Create a cursor object to execute SQL commands
cursor = conn.cursor()

# Create a Bike table
cursor.execute('''
    CREATE TABLE Bike_table (
        empty_slots INTEGER,
        free_bikes INTEGER,
        total_slots INTEGER
        name TEXT,
        latitude FLOAT,
        longitude FLOAT,
        difference_in_m FLOAT
    )
''')

# Create a FourSqr table
cursor.execute('''
    CREATE TABLE FourSqr_table (
     business_name TEXT,
     category_name TEXT,
        distance FLOAT,
        rating FLOAT,
        latitude FLOAT,
        longitude FLOAT,
        locality TEXT,
        region TEXT,
        postcode INTEGER
    )
''')

# Create a Yelp table
cursor.execute('''
    CREATE TABLE Yelp_table (
        business_name TEXT,
        title TEXT,
        distance FLOAT,
        rating FLOAT,
        review_count INTEGER
        latitude FLOAT,
        longitude FLOAT,
        zipcode INTEGER
    )
''')

# Commit the changes and close the connection
conn.commit()

# Close the connection
conn.close()

In [64]:
conn = sqlite3.connect("mydatabaseSql.db")

# Insert data into the database
bike_df.to_sql("Bike_table", conn, if_exists="replace", index=False)
fourSqr_df.to_sql("FourSqr_table", conn, if_exists="replace", index=False)
yelp_df.to_sql ("Yelp_table", conn, if_exists="replace", index=False)

# Commit the changes and close the connection
conn.commit()
conn.close()

In [ ]:
#just to check if data in the tables

#conn = sqlite3.connect("mydatabaseSql.db")
#cursor = conn.cursor()
#cursor.execute("SELECT * FROM Bike_table")
#bike_data = cursor.fetchall()
#print("Bike_table data:")
#for row in bike_data:
#    print(row)

In [ ]:
conn = sqlite3.connect("mydatabaseSql.db")
cursor = conn.cursor()

# Join tables
cursor.execute('''
    SELECT FS.postcode, Y.zip_code
    FROM FourSqr_table AS FS
    FULL OUTER JOIN Yelp_table AS Y ON FS.postcode = Y.zip_code
''')
#just to check results

#result = cursor.fetchall()

# Print the retrieved data
#for row in result:
#    print(row)

cursor.close()
conn.close()